/* Import from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Crimson+Text:wght@600&family=EB+Garamond&family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Bitter', sans-serif;
    font-weight: 200;
    color: #4d4b41;

}

/* logo and menu */

header {
    padding: 20px;
    display: inline-block;
    background-color: #fff;
    width: 100%;
    height: auto;
    letter-spacing: 2px;
}

#icon-logo {
    color: #4d4b41;
    float: left;
    line-height: 110%;
    margin-left: 20px;

}

#logo {
    float: left;
    font-size: 100%;
    margin-left: 20px;
    color: #4d4b41;
    text-align: left;
}

.menu {
    float: right;
    margin-right: 60px;
    text-transform: uppercase;
}

.menu li {
    text-align: center;
    display: inline-block;
    padding-right: 20px;
    font-size: large;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

#blue {
    color: #fff;
    background-color: #34349b;
    text-align: center;
    padding: 4px 6px 4px 6px;
    width: 110px;
}

#blue:hover {
    color: #34349b;
    background-color: #fff;
}

#yellow {
    background-color: #e3c702;
    text-align: center;
    padding: 4px 6px 4px 6px;
    color: white;
    width: 110px;
}

#yellow:hover {
    color: #e3c702;
    background-color: #fff;
}

#red {
    background-color: #d10a0a;
    text-align: center;
    padding: 4px 6px 4px 6px;
    color: white;
    width: 110px;
}

#red:hover {
    color: #d10a0a;
    background-color: #fff;
}
/* main section with banner and cover text */

.main-section {
    position: relative;
    height: 500px;
    overflow: hidden;
    width: 100%;
}

#main-image {
    background: url('../images/banner-front.jpg')no-repeat center center;
    height: 100%;
    width: 100%;
    background-size: cover;
}

#main-text {
    background-color: #4d4b4187;
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 136px;
    line-height: 114%;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    padding: 0px;
}

#main-text a {
    text-decoration: underline;
    color: inherit;
}

/* schedule and events */

#overall-main {
    font-size: 1rem;
    padding: 40px;
}

#schedule-events {
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#service {
    text-align: center;
    width: 100%;
    padding: 20px;
    justify-content: space-evenly;
    align-items: baseline;
    display: flex;
}

#service-table {
    float: left;
    text-align: center;
    width: 45%;
    height: 400px;
}

#service-table table {
    margin: 0 auto;
}

#service-table td {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #475081;

}

#service-table th {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #475081;

}

#events {
    float: right;
    text-align: center;
    width: 45%;
    line-height: 2;
    height: 400px;
    justify-content: center;
    align-items: center;
}

/* quote */

#quote {
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-style: italic;
    font-size: 1rem;
}

/* footer styiling */

footer {
    height: 30px;
    text-align: center;
    background-color: #2f3c41;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: large;
}

footer li {
    list-style-type: none;
}

/* about page */

#about-section {
    width: 100%;
    height: auto;
}

#text-about {
    float: left;
    width: 50%;
    height: auto;
    padding: 20px;
    line-height: 2;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: 1rem;
}

#about-image {
    float: right;
    padding: 20px;
    background: url('../images/easter-photo.jpg') no-repeat center center;
    background-size: cover;
    width: 45%;
    height: 1366px;
    border-radius: 10px;
}

/* contact page */

#form-and-maps {
    display: inline-block;
    width: 100%;
}

#form-and-text {
    width: 30%;
    margin:20px;
    float: left;
    line-height: 2;
    padding: 20px;
}

#top-text {
    text-align: left;
    line-height: 2;
    margin-bottom: 20px;
}

#maps {
    width: 60%;
    margin-bottom: 40px;
    margin-right: 40px;
    float: right;
    font-size: 1rem;
}

#google-map {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}

#map-waterford {
    float: right;
    width: 45%;
}

#map-kilkenny {
    float: left;
    width: 45%;
}
#join-button {
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px 32px 20px 32px;
    text-align: center;
    font-size: 1.5rem;
    display: block;
    width: 50%;
    height: 70px;
    background-color: #2f3c41;
    color: white;
    border-color: #2f3c41;
    float: left;
}

#join-button:hover {
    background-color: white;
    color: #2f3c41;
    border: #2f3c41 solid 2px;
}

input {
    border:#2f3c41 solid 1px;
    float: right;
    width: 75%;
    height: 20px;
    border-radius: 5px;
    text-align: center;
}


/* media */

#timeline-data {
    position: fixed;
    border-right: #2f3c41 solid 4px;
    padding: 20px 20px 100px 20px;
    text-transform: uppercase;
    line-height: 3;
    width: 10%;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}

#timeline-data a {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}

#timeline-data li {
    list-style-type: none;

}

#all-video {
    float: right;
    width: 84%;
}

#all-video h2 {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1rem;
    text-transform: uppercase;
}

.media-text-description {
    width: 60%;
    float: right;
    padding: 20px;
    font-size: 1rem;
    font-family: inherit;
    text-align: left;
}

#about-media-text {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 2;
    font-size: 1rem;

}

/* For larger to medium screens size from 1200px wide and down */


@media screen and  (max-width: 1200px) {
/* Home page */

#overall-main {
    font-size: 1rem;
    padding: 5px;
}

#service-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #475081;

}

#service-table th {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #475081;

}

#schedule-events {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

/* About page */
#about-image {
    float: right;
    padding: 20px;
    background: url(../images/easter-photo.jpg) no-repeat center center;
    background-size: cover;
    width: 40%;
    height: 794px;
    border-radius: 10px;
    margin-right: 35px;
}

#text-about {
    float: left;
    width: 50%;
    height: auto;
    padding: 20px;
    line-height: 1.5;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: 0.9rem;
}

#text-about h2{
    font-size: 1.3rem;
}

#text-about h3{
    font-size: 1rem;
}
/* Media page */
#media-description {
    font-size: 1rem;
}

#timeline-data {
    position: fixed;
    border-right: #2f3c41 solid 4px;
    padding: 10px 10px 50px 10px;
    text-transform: uppercase;
    line-height: 3;
    width: 10%;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

#about-media-text {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.5;
}

.media-text-description p {
    font-size: small;
}

.media-text-description h3 {
    font-size: small;
}

#video-april {
    width: 45%;
    display: flex;
}
#video-march {
    width: 45%;
    display: flex;
}
#video-february {
    width: 45%;
    display: flex;
}
#video-january {
    width: 45%;
    display: flex;
}

.media-text-description {
    width: 50%;
    float: right;
    padding: 20px;
    font-size: 1rem;
    font-family: inherit;
    text-align: left;
}

/* Contact page */

#form-and-text {
    width: 45%;
    margin: 10px;
    float: left;
    line-height: 1.5;
    padding: 20px;
    font-size: 1rem;
}

#join-button {
    margin-top: 30px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 1.5rem;
    display: block;
    width: 45%;
    height: 45px;
    background-color: #2f3c41;
    color: white;
    border-color: #2f3c41;
    float: left;
}

#maps {
    width: 46%;
    margin-bottom: 20px;
    margin-right: 20px;
    float: right;
    font-size: 0.6rem;
    text-align: center;
}

#google-map {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 2px;
    border-radius: 10px;
    display: inline-block;
}
}

/* For medium screen sizes from 950px wide and down*/

@media screen and  (max-width: 950px) {
    /* Home page */
    #service {
        text-align: center;
        width: 100%;
        padding: 20px;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #service-table {
        float: left;
        text-align: center;
        width: 100%;
        height: 300px;
    }

    #schedule-events {
        position: relative;
        height: 600px;
        width: 100%;
        overflow: hidden;
    }

    #events {
        float: right;
        text-align: center;
        width: 80%;
        line-height: 2;
        height: 300px;
        justify-content: center;
        align-items: center;
    }

    header {
        padding: 20px;
        display: flex;
        background-color: #fff;
        width: 100%;
        height: auto;
        letter-spacing: 2px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        align-content: flex-end;
        flex-wrap: nowrap;
    }

    .menu {
        float: center;
        text-transform: uppercase;
        margin-top: 5px;
        margin-right: 0px;
    }

    #logo {
        float: left;
        font-size: 100%;
        margin-left: 20px;
        color: #4d4b41;
        text-align: center;
    }
    #icon-logo {
        color: #4d4b41;
        float: center;
        line-height: 110%;
    }

    /* About page */
    #text-about {
        float: none;
        width: 96%;
        height: auto;
        padding: 20px;
        line-height: 1.5;
        justify-content: center;
        text-align: center;
        border-radius: 10px;
        font-size: 0.9rem;
    }

    #about-image {
        float: none;
        padding: 20px;
        background: url(../images/about-photo.jpg) no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 115px;
        border-radius: 2px;
        margin-right: 0px;
    }

    /* Media page */

    #timeline-data {
        position: fixed;
        border-right: #2f3c41 solid 2px;
        padding: 10px 1px 20px 1px;
        text-transform: uppercase;
        line-height: 2;
        width: 10%;
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
    }
    #about-media-text {
        float: left;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: center;
        line-height: 1.5;
    }
    
    .media-text-description p {
        font-size: small;
    }
    
    .media-text-description h3 {
        font-size: small;
        text-decoration: underline 1px;
    }
    
    #video-april {
        width: 60%;
        display: flex;
    }
    #video-march {
        width: 60%;
        display: flex;
    }
    #video-february {
        width: 60%;
        display: flex;
    }
    #video-january {
        width: 60%;
        display: flex;
    }
    
    .media-text-description {
        width: 80%;
        float: left;
        padding: 0px;
        padding-bottom: 20px;
        font-size: 1rem;
        font-family: inherit;
        text-align: left;
    }

    /* Contact page */

    #form-and-text {
        width: 95%;
        margin: 10px;
        float: left;
        line-height: 1.5;
        padding: 20px;
        font-size: 1rem;
    }

    #form-and-text {
        width: 95%;
        margin: 10px;
        float: left;
        line-height: 1.5;
        padding: 20px;
        font-size: 1rem;
    }

    .main-section {
        position: relative;
        height: 500px;
        overflow: hidden;
        width: 105%;
    }
    
   }