/* Import from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Crimson+Text:wght@600&family=EB+Garamond&family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Bitter', sans-serif;
    font-weight: 200;
    color: #4d4b41;

}

/* logo and menu */

header {
    padding: 10px;
    display: inline-block;
    background-color: #2f3c41;
    width: 100%;
    height: auto;
    letter-spacing: 2px;
}

#icon-logo {
    color: white;
    float: left;
    line-height: 110%;
    margin-left: 20px;

}

#logo {
    float: left;
    font-size: 100%;
    margin-left: 20px;
    color: white;
    text-align:left;
}

.menu {
    float: right;
    margin-right: 20px;
    text-transform: uppercase;
}

.menu li {
    text-align: center;
    display: inline-block;
    padding-right: 20px;
    font-size: x-large;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

#blue {
    color: rgb(109, 182, 241);
}

#yellow {
    color: rgb(253, 255, 111);
}

#red {
    color: rgb(251, 111, 111);
}

/* main section with banner and cover text */

.main-section {
    position: relative;
    height: 700px;
    width: 100%;
    overflow: hidden;
}

#main-image {
    background: url('../images/front-page-main.jpg')no-repeat center center;
    height: 100%;
    width: 100%;
}

#main-text {
    background-color: #47508156;
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 150px;
    line-height: 200%;
    text-align: center;
    font-size: x-large;
    color: white;
    padding: 2px;
}

/* schedule and events */

#overall-main {
    font-size: x-large;
    padding: 80px;
}

#schedule-events {
    position: relative;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#service {
    text-align: center;
    width: 100%;
    padding: 20px;
    justify-content: space-evenly;
    align-items: baseline;
    display: flex;
}

#service-table {
    float: left;
    text-align: center;
    width: 45%;
    height: 400px;
}

#service-table table {
    margin: 0 auto;
}

#service-table td {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #475081;

}

#service-table th {
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #475081;

}

#events {
    float: right;
    text-align: center;
    width: 45%;
    line-height: 2;
    height: 400px;
    justify-content: center;
    align-items: center;
}

/* quote */

#quote {
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    font-style: italic;
}

/* footer styiling */

footer {
    height: 50px;
    text-align: center;
    background-color: #2f3c41;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: large;
}

footer li {
    list-style-type: none;
}

/* about page */

#about-section {
    width: 100%;
    height: auto;
}

#text-about {
    float: left;
    width: 50%;
    height: auto;
    padding: 20px;
    line-height: 2;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    font-size: x-large;
}

#about-image {
    float: right;
    padding: 20px;
    background: url('../images/easter-photo.jpg') no-repeat center center;
    background-size: cover;
    width: 45%;
    height: 1366px;
    border-radius: 10px;
}

/* contact page */

#form-and-maps {
    display: inline-block;
    width: 100%;
}

#form-and-text {
    width: 30%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    float: left;
}

#top-text {
    text-align: left;
    margin-bottom: 40px;
}

#maps {
    width: 50%;
    margin-bottom: 40px;
    margin-right: 40px;
    float: right;
}

#google-map {
    width: 100%;
    height: 150%;
    margin-top: 20px;
    margin-bottom: 40px;
    float: left;
    border-radius: 10px;
}

#join-button {
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: large;
    display: block;
    width: 50%;
    background-color:#2f3c41;
    color: white;
    border-color: #2f3c41 ;
}

#join-button:hover {
    background-color: white;
    color: #2f3c41;
    border: #2f3c41 solid 2px;
}

/* media */

#timeline-data {
    position: fixed;
    border-right: #2f3c41 solid 4px;
    padding: 40px 40px 100px 40px;
    text-transform: uppercase;
    line-height: 3;
    width: 10%;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
}

#timeline-data a {
    text-decoration: none;
    color: inherit;
    font-size: x-large;
}

#timeline-data li {
    list-style-type: none;

}

#all-video {
    float: right;
    width: 80%;
}

#all-video h2 {
    text-align: left;
    margin-bottom: 30px;
    ` margin-top: 30px;
    font-size: x-large;
    text-transform: uppercase;
}

.media-text-description {
    width: 60%;
    float: right;
    padding: 10px;
    font-size: large;
    font-family: inherit;
    text-align: left;
}

#about-media-text {
    float: left;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
    text-align: center;
    line-height: 2;
    font-size: large;

}

#about-media-text span {
    font-style: italic;
}

